

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <script src="~/js/pesquisa.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
 



</head>
<body>
   <header class="topo">
       <div class="topo">
       <div class="logo">

       </div>

       <h1 class="nb">Biblioteca</h1>
       </div>
   </header>

   <nav class="menu">
       <div class="rt_gr">
            @if (ViewBag.HomeLogado == true)
            {
                <ul class="mn_rt">
                    <li class="btn_home"><a asp-area="" asp-controller="Logado" asp-action="HomeLogado" class="bth">Home</a></li>
                    <li><a class="bm"  asp-area="" asp-controller="Logado" asp-action="Emprestimos">Empréstimos</a></li>
                    <li><a class="bm" asp-area="" asp-controller="Logado" asp-action="Conta">Conta</a></li>
                    <li><a class="bm" asp-area="" asp-controller="Logado" asp-action="Favoritos">Favoritos</a></li>
                    <li><a class="bm" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                    
                </ul>
            }
            else {
            <ul class="mn_rt">
           <li><a class="bm" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="bm" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
           <li><a class="bm" asp-area="" asp-controller="Login" asp-action="Login">Login</a></li>
       </ul>
            }
       </div>
       @RenderSection("menu", required: false)
   </nav>

   <main class="conteudo">
       <div class="rt_ct">
           @RenderSection("main", required: false)
       <div class="pesquisa">
           @RenderSection("pesquisa", required: false)
           
               
       </div>
      
              

            <div class="ct">
                @RenderSection("conteudo", required: false)
            </div>
              

       @RenderBody()    
        </div>
   </main>

   <footer class="baixo">
       <div class="baixo_rt"><a href="#">biblioteca_milagres</a> </div>
   </footer>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>
